.left {
    padding: 40px;
    color: white;
    background-color: black;
    overflow-y: scroll;
}

.right {
    padding: 40px;
    background-color: white;
}

.name {
    font-size: 54px;
    font-weight: 600;
    line-height: 54px;
}

.position {
    font-size: 40px;
    color: rgb(135, 135, 135);
    margin-bottom: 150px;
}

.experience, .education {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 60px;
    padding-bottom: 12px;
    border-bottom: 1px solid rgb(220, 220, 220);
}